  body{
        background:#111;
        color:#fff;
        font-family:Arial;
        text-align:center;
        padding:40px;
    }
    .box{
        background:#1a1a1a;
        padding:30px;
        width:90%;
        max-width:600px;
        margin:auto;
        border-radius:15px;
        box-shadow:0 0 20px #000;
    }
    h2{
        color:#00ff99;
        margin-bottom:10px;
    }
    input, textarea{
        width:100%;
        padding:12px;
        border-radius:10px;
        border:none;
        margin-top:15px;
        background:#000;
        color:#0f0;
        font-size:15px;
    }
    button{
        margin-top:20px;
        padding:12px 25px;
        background:#00ff99;
        color:#000;
        border:none;
        font-weight:bold;
        border-radius:8px;
        cursor:pointer;
    }
    #preview{
        margin-top:25px;
        max-width:100%;
        display:none;
        border-radius:10px;
        border:2px solid #444;
    }